Source: f-engrave
Section: unknown
Priority: optional
Maintainer: unknown <seb@highlab.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.scorchworks.com/Fengrave/fengrave.html
#Vcs-Git: git://anonscm.debian.org/collab-maint/f-engrave.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/f-engrave.git;a=summary

Package: f-engrave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
